---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);


---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="space-y-16">
      <section class="animate space-y-4">
        <h3 class="font-semibold text-xl text-black dark:text-white">
          ¡Bienvenidos!
        </h3>
        <article>
          <p>
            Esta es la página del curso de los Lunes a la mañana de Paradigmas de Programación de la Universidad Tecnológica Nacional, Facultad Regional Buenos Aires.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Últimas entradas
          </h5>
          <Link href="/bitacora">
            Ver bitácora
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Contacto
        </h5>
        <article>
          <p>
            Si tenés alguna consulta o querés comunicarte con el equipo docente, escribinos por discord.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map((SOCIAL, i, list) => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {i === list.length - 1 ? '' : "/"}
            </li>
          ))}
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
